<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Servlet</display-name>
    <servlet-name>Servlet</servlet-name>
    <servlet-class>controller.Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Servlet</url-pattern>
  </servlet-mapping>
  <display-name>trabe</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CadastroUsuario</display-name>
    <servlet-name>CadastroUsuario</servlet-name>
    <servlet-class>controller.CadastroUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastroUsuario</servlet-name>
    <url-pattern>/CadastroUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastroParticipacao</display-name>
    <servlet-name>CadastroParticipacao</servlet-name>
    <servlet-class>controller.CadastroParticipacao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastroParticipacao</servlet-name>
    <url-pattern>/CadastroParticipacao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ParticipacoesAluno</display-name>
    <servlet-name>ParticipacoesAluno</servlet-name>
    <servlet-class>controller.ParticipacoesAluno</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ParticipacoesAluno</servlet-name>
    <url-pattern>/ParticipacoesAluno</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>home</display-name>
    <servlet-name>home</servlet-name>
    <servlet-class>controller.home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExibirParticipacoes</display-name>
    <servlet-name>ExibirParticipacoes</servlet-name>
    <servlet-class>controller.ExibirParticipacoes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExibirParticipacoes</servlet-name>
    <url-pattern>/ExibirParticipacoes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Participacoes</display-name>
    <servlet-name>Participacoes</servlet-name>
    <servlet-class>controller.Participacoes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Participacoes</servlet-name>
    <url-pattern>/Participacoes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginUsuario</display-name>
    <servlet-name>LoginUsuario</servlet-name>
    <servlet-class>controller.LoginUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUsuario</servlet-name>
    <url-pattern>/LoginUsuario</url-pattern>
  </servlet-mapping>
</web-app>